
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');
.site__container{
    
}

.header__container{
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.header__image__container{
    background-color: white;
    height: 75%;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.header__image__container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 50%;
    border: 1px solid black;
    transition: .5s;
}





.header__image__container__1{
    position: relative;
}

.header__text__container__1{
    background-color: white;
    height: 50%;
    width: 30%;
    opacity: 100%;
    position: absolute;
    top: 25%;
    left: 35%;
    border-radius: 15px;
    opacity: 0%;
    transition: .5s;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    display: grid;
    padding: 10px;
}

.header__text__container__1>a{
    border: 1px solid lightgray;
    outline: none;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
    cursor: pointer;
    transition: .2s;
    color: black;
    text-decoration: none;
    padding-top: 5px;
}

.header__text__container__1>a:hover{
    border: 1px solid black;
    background-color: white;
    transition: .2s;
}

.header__image__container__1:hover .header__text__container__1{
    opacity: 100%;
    transition: .5s;
    
}

.header__image__container__1:hover >img{
    opacity: 100%;
    transition: .5s;
}

.header__text__container{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    background-color: white;
    height: 10%;
    width: 20%;
    border: 1px solid black;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    top: 47%;
    padding-top: 15px;
    font-weight: bold;
    display: grid;
}

.headertext__container{
    position: absolute;
    color: white;
    font-family: Raleway;
    text-align: center;
    text-shadow: 10px 10px 10px black;
}

.about__container{
    background-color: #92AFD7;
    margin: 0;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 80%;
    justify-items: center;
    overflow: hidden;
}

.about__container > h3{
    margin: 0;
    padding-top: 20px;
    font-size: 50px;
    font-family: Raleway;
    text-shadow: 5px 5px 10px black;
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;
}

.about__container p{
    font-size: 25px;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    font-family: Raleway;
    border-right: 1px solid black;
}

.about__container button{
    border: none;
    outline: none;
    background-color: #92AFD7;
    font-size: 25px;
    font-family: Raleway;
    cursor: pointer;
    text-align: center;
    width: 100%;
}


.links__container > h5{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Raleway;
    width: 400px;
    text-align: center;
    height: 0px;
}

.links__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
}
.links__container i{
    margin-right: 40px;
    margin-left: 40px;
    padding-top: 10px;
    text-align: center;
    height: 60px;
    cursor: pointer;
    color: black;
}

.skills__container{
    background-color: #564787;
    margin: 0;
    height: 500px;
    display: grid;
    grid-template-rows: 20% 80%;
    justify-items: center;
    overflow: hidden;
}

.skill__icon__container{
    margin-right: 20%;
    margin-left: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    margin-bottom: 20px;
}

.skill__icon__container > i{
    font-size: 120px;
    padding-left: 20px;
    padding-right: 20px;
}

.skills__container > h3{
    margin: 0;
    padding-top: 20px;
    font-size: 50px;
    font-family: Raleway;
    text-shadow: 5px 5px 10px black;
    color: white;

}

.projects__container{
    background-color: #92AFD7;
    margin: 0;
    height: 650px;
    display: grid;
    grid-template-rows: 20% 80%;
    justify-items: center;
    overflow: hidden;
}

.projects__container > h3{
    margin: 0;
    padding-top: 20px;
    font-size: 50px;
    font-family: Raleway;
    text-shadow: 5px 5px 10px black;
    color: white;
    text-align: center;
}

.projects_list{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-between;
}

.project{
    width: 25%;
    height: 80%;
    display: grid;
    justify-items: center;
    background-color: #343434;
    position: relative;
    /* border-radius: 50px; */
    /* padding-top: 100%; */
}

.project > img{
    width: 80%;
    padding-top: 20px;
}

.project-three > img{
    padding-top: 60px;
    width: 50%;
}

.project-two > img{
    padding-bottom: 10px;
    padding-top: 80px;
}

.project-four > img{
    width: 60%;
    margin: 0;
}



.project > h5{
    font-family: Raleway;
    font-size: 30px;
    position: absolute;
    bottom: 0px;
    z-index: 0;
}



.overlay {
    position: absolute;
    background-color: #564787;
    width: 100%;
    height: 100%;
    display: grid;
    opacity: 0%;
    transition: .5s;
    z-index: 10;
}

.overlay > p{
    font-size: 25px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 15%;
    text-align: center;
    font-family: Raleway;
    font-weight: bold;
}

.overlay > button{
    border: none;
    outline: none;
    background-color: #92AFD7;
    cursor: pointer;
    font-family: Raleway;
    font-size: 30px;
    border-radius: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    transition: .5s;
}

.overlay:hover{
    opacity: 100%;
    transition: .5s;
}

.overlay > button:hover{
    background-color: #343434;
    transition: .5s;
}

.contact__container{
    background-color: #564787;
    margin: 0;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
    justify-items: center;
    overflow: hidden;
}

.contact__container > h3{
    margin: 0;
    padding-top: 20px;
    font-size: 50px;
    font-family: Raleway;
    text-shadow: 5px 5px 10px black;
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;
}

.contact__container > p{
    font-size: 25px;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    font-family: Raleway;
    border-right: 1px solid black;
}

.contact__links__container > h5{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Raleway;
    width: 400px;
    text-align: center;
    height: 0px;
}

.contact__links__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.contact__links__container > p{
    margin-right: 40px;
    margin-left: 40px;
    text-align: center;
    height: 10px;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-family: Raleway;
}
.contact__links__container > a{
    margin-right: 40px;
    margin-left: 40px;
    text-align: center;
    height: 10px;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-family: Raleway;
}