
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1&display=swap');
.site__container{
    
}

.header__container{
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-image: url('https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260')
}

.header__image__container{
    background-color: white;
    height: 75%;
    width: 75%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin-top: -30px;

}

.header__image__container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 60%;
    border: 1px solid black;
    transition: .5s;
}


.header__text__positioning{
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}


.header__image__container__1{
    position: relative;
    height: 100%;
    width: 100%;
}

.header__text__container__1{
    background-color: white;
    height: 50%;
    width: 30%;
    opacity: 100%;
    position: absolute;
    top: 25%;
    left: 35%;
    border-radius: 25px;
    opacity: 0%;
    transition: .5s;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    display: grid;
    padding: 10px;
    grid-template-rows: 50% 50%;
    box-shadow: 5px 5px 5px;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 1.5vh;
}

.header__text__container__1 a{
    color: black;
    grid-row-start: 2;
    margin-top: 30px;
}

.logo__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__image__container__1:hover .header__text__container__1{
    opacity: 100%;
    transition: .5s;
    
}

.header__image__container__1:hover >img{
    opacity: 100%;
    transition: .5s;
}

.header__text__container{
    font-family: 'M PLUS 1', sans-serif;
    text-align: center;
    background-color: white;
    height: 9.5vh;
    width: 40vh;
    border: 1px solid black;
    border-radius: 235px;
    position: absolute;
    z-index: 1;
    top: 47%;
    padding-top: 1.2vh;
    font-weight: bold;
    display: grid;
    text-shadow: 5px 5px 5px lightgrey;
    box-shadow: 5px 5px 5px;
    margin-top: -3vh;
    font-size: 1.2vh;
}

.header__text__container:hover > h1{
    opacity: 0%;
    transition: opacity .3s
}

.header__text__container > h1{
    transition: opacity .5s;
}

.header__text__container:hover > h2{
    opacity: 0%;
    transition: opacity .3s;
}

.header__text__container > h2{
    transition: opacity .5s;
}

.header__contact__container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0%;
    transition: .3s;
}

.header__contact__container > a{
    color: black;
}

.header__text__container:hover .header__contact__container{
    opacity: 100%;
    transition: .5s;
}

.about__skills__container{
    height: 50vh;
    display: grid;
    grid-template-columns: 70vw 30vw;
}


.about__container{
    display: flex;
    height: inherit;
    width: 100%;
}

.about__container > img {
    height: inherit;
}

.about__text__container{
    font-family: 'M PLUS 1', sans-serif;
    width: 100%;
    margin-left: 3vh;
    margin-top: 13vh;
    margin-right: 3vh;
}

.about__text__container > h3{
    font-size: 2vh;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 1vh;
}

.about__text__container > p{
    font-size: 1.5vh;
    margin-right: 10vh;
}

.skills__container{
    width: 26vw;
    height: 48vh;
    margin-top: 2vh;
    margin-right: 2vh;
}

.skill__icon__container {
    width: 100%;
    height: 100%;
    font-size: 10vh;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.aspect__ratio__cover{
    background-color: black;
    position: absolute;
    height: 150vh;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
}
@media (max-aspect-ratio: 4/3){
    div{
        opacity: 0%;
    }

}
